
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body{
    background-color: #232020 ;
}
/* Text */

.z-review-text{
    text-align: center;
    color: white;
}

.z-review-text h1, h4{
    color: #232020;
}


.title-text{
    text-align: center;
    color: #ff7315;
}

.z-head-text{
    text-align: center;
    padding-top: 60px;
    color: #ff7315;
    margin-bottom: 60px;
}

.card-text{
    color: white;
}

.card-rate{
    color: #ff7315;
}

.card-title{
    color: #ff7315;
}


/* Nav */

.navbar-toggler-icon{
    color: #ff7315;
    background-color: #ff7315;
}

nav:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.z-navbar-brand {
    display: flex;
    align-items: center;
}

.z-navbar-brand img {
    width: 350px;

}

.nav {
    list-style: none;
    margin: auto;
    padding: 0;
    align-items: center;
}


.nav-link{
    color:rgba(255, 255, 255, 0.6) ;
}

.nav-link:hover{
    color: #ff7315;
}

.nav-link.active{
    border-bottom: 2px solid white;
    color: #ff7315;
}


/* Carousel */

.z-background{
    padding-top: 50px;
    background-color: #ff7315;
}

.z-box{
   padding-top: 50px;
   padding-bottom: 50px;
    
}

.z-hero-image-container {
    position: relative;
}
  
.z-hero-slide {
    height: 90vh;
    width: 100%;
    background-position: center;
}
  
.z-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
  
.z-hero-text {
    position: absolute;
    top: 50%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
    z-index: 2; 
    color: white; 
    padding: 30px; 
    max-width: 35%; 
}
  
.z-hero-text button {
    background-color: #ff7315;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.bi bi-bookmark{
    color: #ff7315;
    margin-left: 15px;
}

/* Card */

.card {
    background-color: #3a3535;
    color: white;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    transition: filter 0.3s;
    position: relative; 
    z-index: 1; 
}

.card:hover .card-img-top {
    filter: brightness(0.7);
}

.play-button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .play-button {
    cursor: pointer;
    opacity: 1;
}

.play-button i {
    font-size: 3rem;
    color: #ff7315;
}

.add-to-watchList {
    background-color: #ff7315;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.add-to-watchList:hover {
    background-color: white;
    color: #ff7315;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}



/* footer */

footer {
    background-color: #3a3535;
}

.color-box {
    background-color: #ff7315;
    height: 3px;
    margin-top: 25px;
}

.color-text {
    color: white;
    text-align: center;
    padding-top: 10px;
}

.footer-content {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.logo-footer, .quick-menu, .social-links, .contact-us {
    flex: 1;
    margin: 10px;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.logo-footer img {
    display: flex;
    align-items: center;
    max-width: 225px;
}

.quick-menu {
    color: white;
    text-align: center;
}

.quick-menu h4, a{
    color: white;
}

.contact-us {
    color: white;
    text-align: center;
}

.contact-us h4 {
    color: #ff7315;
}



.icon{
    margin-right: 20px;
    color: #ff7315;
}



/* fonts */

h1,h2,h3,h4,h5,h6{
    font-family: 'Dela Gothic One', serif;
    color: white;

}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}

