@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lexend+Deca:wght@300;400;500;600;700&display=swap');


/* fonts */

h1,h2,h3,h4,h5,h6{
    font-family: 'Dela Gothic One', serif;
    color: white;

}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}

