@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Rajdhani:wght@300&display=swap');


p {
    font-family: 'Lexend Deca', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    
}
/*=============================================================================*/
/*Sign In Page*/


#inputContainer{
    width: 472px;
    height: 64px;
    background-color: rgba(1, 1, 1, 1);
    margin: auto;
}

#inputBar{
    width: 472px;
    height: 4px;
    background-color: #DD922E;
    margin-top: 6.5vh;
}

#extra {
    width: 200px;
    height: 10px;
    margin-left: 43vh;

}

#button {
    width: 151px;
    height: 49px;
    margin:auto;
    border-radius: 0px;
    background-color: #DD922E;
    padding-left: 5vh;
    padding-top: 1.5vh;
}

#bottomBar{
    width: 100%;
}



/*=============================================================================*/
/*Logo*/

#logo{
    width: 148px;
    Height: 60px;
    background-image: url(../Assets/Shuffel\ Watch\ Logo.png);
}
/*=============================================================================*/
/* Main Logo*/

#mainImage{
    height: 169px;
    width: 414px;
    background-image: url(../Assets/Shuffle\ Watch\ Logo\ Main.png);
    background-position: center;
    background-size: cover;
}
/*=============================================================================*/
/* Footer */  

#bottomBar{
    width: 100%;
    height: 76px;
    flex-shrink: 0;
    background-color: #DD922E;

}

#bottomLine{
    width: 144px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    margin-top: 4vh;
    visibility: hidden;
}

/*=============================================================================*/
    /*When the Screen Size is smaller than 1200px*/
    @media (max-width: 1200px) {
        #mainImage{
            height: 169px;
            width: 414px;
            background-image: url(../Assets/Shuffle\ Watch\ Logo\ Main.png);
            background-position: center;
            background-size: cover;
            margin: auto;
            margin-top: 10vh;
            
        }

        #bottomBar{
            height: 55px;
            width: 810px;
        }

        #inputBar{
            margin-top: 5.3vh;
        }


    }
/*=============================================================================*/
/* When Screen size is smaller than 360px (phone size)*/
@media (max-width: 360px) {
    #logo{
        width: 0px;
        height: 0px;
    }

    #mainImage{
        height: 93px;
        width: 228px;
        background-image: url(../Assets/Shuffle\ Watch\ Logo\ Main.png);
        background-position: center;
        background-size: cover;
        margin-top: 15vh;
        
        
    }

    #icons{
        visibility: visible !important;
    }

    #bottomBar{
        height: 41px;
        width: 360px;
    }

    #bottomLine{
        visibility: visible;
    }

    #inputContainer {
        width: 286px;
        height: 38px;
    }

    #inputBar {
        width: 286px;
        margin-top: 4vh;
    }

    #extra {
        visibility: hidden;
    }

    }
/*=============================================================================*/
/* Mobile icons */   
#icons{
    visibility: hidden;
}


/*Library Page Start*/
/* 
font-family: 'Dela Gothic One', cursive;
font-family: 'Josefin Sans', sans-serif;
*/
  .Jform-control{
    background-image: url(../assets/libraryPage/searchIcon.png);
    background-position: right;
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: #FF7315;
    border: px50;
    border-color: #FF7315;
  }
  .JlogoImg{
    height: 50px;
    width: 80px;
  }

  .Jbody{
    background-image: url(../assets/libraryPage/moonlightHeader.jpg);
    overflow-x: hidden;

    background-repeat: no-repeat;
    background-color: #3A3535;
    background-size: cover;

  }
 .JnavB{
    text-align: center;
 }
 .Jhead{
    width:40%;
    height:100%;
    margin-left: 10%;
    margin-right: auto;
    padding-top: 100px;
    background-color: transparent;
    
 }
 .Jlibrary{
    width: 100%;
    height: 800px;
    background-color: #3A3535;
 }
 .LheadT{
    font-family: 'Dela Gothic One', cursive;
    color: #ffff;
    font-size: 75px;
    margin-bottom: 100px;
 }
  .LparT{
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFF;
    font-size: 25px;
    margin-bottom: 100px;
  }
  .btnWatchL{
    background-color: #FF7315;
    border-color: #FF7315;
    margin-bottom: 100px;
  }
  .btnWatchL:hover{
    background-color: transparent;
    border-color: transparent;
  }
  .btnAddtWL{
    background-color:  transparent;
    border-color: transparent;
    margin-bottom: 100px;
  }
  .btnAddtWL:hover{
    background-color: #FF7315;
    border-color: #FF7315;
  }
  .btnBookmarkL{
    background-color: transparent;
    border-color: transparent;
    background-image: url(../assets/libraryPage/BookmarkSymbolLpluss.png);
    width: 35px;
    height: 50px;
    background-size: 100%;
    margin-bottom: 100px;
  }
  .btnBookmarkL:hover{
    background-color: transparent;
    border-color: transparent;
    background-image: url(../assets/libraryPage/BookmarkSymbolLpluss.png);
    width: 36px;
    height: 50px;
    background-size: 100%
  }
  .JrowS{
    width: 75%;
    margin-top: 50px;
  }
  .Jcol1{
    width: 10%;
    background-color: #3A3535;
  }
  .Jcol2{
    width: 80%;
  }
  .Jcard{
    margin-top: 30px;
  }
  .JcardIn{
    background-color: transparent;
    border-color: transparent;
  }
  .JcardTH{
    color: #ffff;
  }
  .JcardT{
    color: #ffff;
  }

  .JcardImgTop:hover{
    opacity: 30%;
    transition: 0.5s;
  }
  .Jdrop{
    background-color: #FF7315;
    border-color: #FF7315;
    width: 150px;
  }
  .Jdrop:hover{
    background-color: transparent;
    border-color: transparent;
  }
  .JnavH{
    height: 100%;
  }


@media(max-width: 1200px){
  .JdropS{
    margin: 5px;
  }
  .JnavH{
    height: 5px;
  }
.Jrow1{
    height: 50%;
  }
.Jhead{
  width: 80%;
  height: 50%;
}
.LheadT{
  font-size: 50px;
}
.LparT{
  width: auto;
}

}

/*Library Page End*/
