@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Rajdhani:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Rajdhani:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

p {
    font-family: 'Lexend Deca', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    
}
/*=============================================================================*/
/*Sign In Page*/


#inputContainer{
    width: 472px;
    height: 64px;
    background-color: rgba(1, 1, 1, 1);
    margin: auto;
}

#inputBar{
    width: 472px;
    height: 4px;
    background-color: #DD922E;
    margin-top: 6.5vh;
}

#extra {
    width: 200px;
    height: 10px;
    margin-left: 43vh;

}

#button {
    width: 151px;
    height: 49px;
    margin:auto;
    border-radius: 0px;
    background-color: #DD922E;
    padding-left: 5vh;
    padding-top: 1.5vh;
}

#bottomBar{
    width: 100%;
}



/*=============================================================================*/
/*Logo*/

#logo{
    width: 148px;
    Height: 60px;
    background-image: url(../Assets/Shuffel\ Watch\ Logo.png);
}
/*=============================================================================*/
/* Main Logo*/

#mainImage{
    height: 169px;
    width: 414px;
    background-image: url(../Assets/Shuffle\ Watch\ Logo\ Main.png);
    background-position: center;
    background-size: cover;
}
/*=============================================================================*/
/* Footer */  

#bottomBar{
    width: 100%;
    height: 76px;
    flex-shrink: 0;
    background-color: #DD922E;

}

#bottomLine{
    width: 144px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    margin-top: 4vh;
    visibility: hidden;
}

/*=============================================================================*/
    /*When the Screen Size is smaller than 1200px*/
    @media (max-width: 1200px) {
        #mainImage{
            height: 169px;
            width: 414px;
            background-image: url(../Assets/Shuffle\ Watch\ Logo\ Main.png);
            background-position: center;
            background-size: cover;
            margin: auto;
            margin-top: 10vh;
            
        }

        #bottomBar{
            height: 55px;
            width: 810px;
        }

        #inputBar{
            margin-top: 5.3vh;
        }


    }
/*=============================================================================*/
/* When Screen size is smaller than 360px (phone size)*/
@media (max-width: 360px) {
    #logo{
        width: 0px;
        height: 0px;
    }

    #mainImage{
        height: 93px;
        width: 228px;
        background-image: url(../Assets/Shuffle\ Watch\ Logo\ Main.png);
        background-position: center;
        background-size: cover;
        margin-top: 15vh;
        
        
    }

    #icons{
        visibility: visible !important;
    }

    #bottomBar{
        height: 41px;
        width: 360px;
    }

    #bottomLine{
        visibility: visible;
    }

    #inputContainer {
        width: 286px;
        height: 38px;
    }

    #inputBar {
        width: 286px;
        margin-top: 4vh;
    }

    #extra {
        visibility: hidden;
    }

    }
/*=============================================================================*/
/* Mobile icons */   
#icons{
    visibility: hidden;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    
}
/*=============================================================================*/
/*Sign In Page*/


#inputContainer{
    width: 472px;
    height: 64px;
    background-color: rgba(1, 1, 1, 1);
    margin: auto;
}

#inputBar{
    width: 472px;
    height: 4px;
    background-color: #DD922E;
    margin-top: 6.5vh;
}

#extra {
    width: 200px;
    height: 10px;
    margin-left: 43vh;

}

#button {
    width: 151px;
    height: 49px;
    margin:auto;
    border-radius: 0px;
    background-color: #DD922E;
    padding-left: 5vh;
    padding-top: 1.5vh;
}

#bottomBar{
    width: 100%;
}



/*=============================================================================*/
/*Logo*/

#logo{
    width: 148px;
    Height: 60px;
    background-image: url(../Assets/Shuffel\ Watch\ Logo.png);
}
/*=============================================================================*/
/* Main Logo*/

#mainImage{
    height: 169px;
    width: 414px;
    background-image: url(../Assets/Shuffle\ Watch\ Logo\ Main.png);
    background-position: center;
    background-size: cover;
}
/*=============================================================================*/
/* Footer */  

#bottomBar{
    width: 100%;
    height: 76px;
    flex-shrink: 0;
    background-color: #DD922E;

}

#bottomLine{
    width: 144px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    margin-top: 4vh;
    visibility: hidden;
}

/*=============================================================================*/
    /*When the Screen Size is smaller than 1200px*/
    @media (max-width: 1200px) {
        #mainImage{
            height: 169px;
            width: 414px;
            background-image: url(../Assets/Shuffle\ Watch\ Logo\ Main.png);
            background-position: center;
            background-size: cover;
            margin: auto;
            margin-top: 10vh;
            
        }

        #bottomBar{
            height: 55px;
            width: 810px;
        }

        #inputBar{
            margin-top: 5.3vh;
        }
    }