        
h1 {
    font-size: 28px;
}
 
/* If the screen size is 768px wide or more, set the font-size to 30px */
@media (min-width: 768px) {
    h1 {
        font-size: 36px;
    }
}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    h1 {
      font-size: 56px;
    }
}

/* If the screen size is 768px wide or more, set the font-size to 30px */
@media (min-width: 768px) {
    h3 {
        font-size: 30px;
    }
}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    h5 {
      font-size: 20px;
    }
}



        body {
            background-color: #232020;
            background-size:cover;
            color: #fff; /* Adjust text color for visibility */
            padding-top: 100px;
            margin-bottom: 50px;
            height:auto;
        }
        .container-header{
            background-image: url(../assets/joker.jpg);
            overflow: auto;
          
        }

        

        .card {
            width: 252px;
            height: 355px;
            
        }

        .card-img-top{
            width: 252px;
            height: 355px;
            

        }
        .card-container {
            padding: 20px; 
            margin-bottom:60px; 
        }

       .invisible-button {
        background: none;
        border: none;
        color:white; 
        cursor: pointer;
        }

        .button-image {
         vertical-align: middle; 
         width: 30px;
         height: 30px;
         
        }
        
       

        .full-height{
            height:65vh;
        }
        
        /* navigation */

        .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 350px;

}


        .nav-link {
            font-family: 'Lexend Deca', sans-serif;
            color:white;
        }

        .nav-link:hover {
            color: #a86b00;
        }

        .nav-link.active {
            border-bottom: 2px solid #ff7315;
            color:  #ff7315;
        }

        /* components */
        button{
            border: none;
            padding:10px;
            background:  #ff7315;
            font-family: 'Lexend Deca', sans-serif;
            font-size: 16px;
            color: white;
        }
